.one-project {

  &__image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 200px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
  }

  &__content {
    max-width: 500px;
    margin: 0 auto;

    h1 {
      margin-bottom: 10px;
      color: rgba(256, 256, 256, 0.5);
    }
    
    p {
      margin-bottom: 10px;
      color: rgba(256, 256, 256, 0.5);
      font-size: 18px;
    }
  }

  &__link {
    color: white;
    text-decoration: underline;
  }

  @include fronzy(mdleft) {

    &__image {
      width: 140px;
      height: 140px;
    }
  }
}
