.navbar {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;

  &__logo {
    margin-top: 5px;
  }

  &__column {

    &--menu {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
    }
  }

  &__link {
    color: white;
    text-transform: uppercase;
  }

  &__list {
    display: inline-flex;
  }

  &__list-item {
    margin: 0 10px;
  }
}
