.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    color: white;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    margin: 0 10px;
  }
}
