.project-card {
  display: flex;

  &__image-column {

    img {
      display: block;
    }
  }

  &__info-column {
    padding-left: 20px;
    padding-bottom: 40px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__description {
    margin-bottom: 5px;
  }

  &__title,
  &__description {
    color: white;
    opacity: 0.5;
  }

  &__link {
    color: white;
    text-decoration: underline;
    margin-top: 5px;
    display: inline-block;
  }
}
